<div class="row" style="background-color: beige; margin: 0px; padding: 50px">
  <div class="col-lg-4">
    <mat-icon color="accent" style="font-size: 24px">verified</mat-icon>
    <p style="font-weight: bold; letter-spacing: 0.5px; font-size: 18px">
      1 Lakh+ products
    </p>
    <p style="text-align: justify">
      We maintain strict quality controls on all our partner retailers, so that
      you always get standard quality products.
    </p>
  </div>
  <div class="col-lg-3" style="margin-left: 3%; margin-right: 5%">
    <mat-icon color="accent" style="font-size: 24px">verified_user</mat-icon>
    <p style="font-weight: bold; letter-spacing: 0.5px; font-size: 18px">
      Secure Payment
    </p>
    <p style="text-align: justify">
      100% secure and trusted payment protection.
    </p>
  </div>
  <div class="col-lg-4">
    <mat-icon color="accent" style="font-size: 24px">event_available</mat-icon>
    <p style="font-weight: bold; letter-spacing: 0.5px; font-size: 18px">
      Easy Return
    </p>
    <p style="text-align: justify">
      We have a new and dynamic return window policy for medicines and
      healthcare items. Refer FAQs section for more details.
    </p>
  </div>
</div>
