<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>
    <!-- Left section -->
    <div class="col-lg-5">
      <div class="row">
        <div
          *ngIf="
            cartService.cart?.totalItems != null &&
            cartService.cart?.totalItems! > 0
          "
          class="col-lg-5"
        >
          <h4>{{ cartService.cart?.totalItems }} item(s) in cart</h4>
        </div>
        <div *ngIf="cartService.cart?.totalItems! == 0" class="col-lg-5">
          <h4>Your cart is empty</h4>
        </div>
        <div class="col-lg-4"></div>
        <div *ngIf="cartService.cart?.totalItems! > 0" class="col-lg-3">
          <small>Prices are indicative</small>
        </div>
      </div>
      <div *ngFor="let item of cartService.cart?.products">
        <div class="card mb-4" style="width: 100%">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="{{ item.productId.image }}"
                width="150px"
                style="margin-top: 5px; margin-left: 5px"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ item.productId.name }}</h5>
                <p class="card-text">Quantity: {{ item.quantity }}</p>
                <div class="row">
                  <div class="col-md-8">
                    <button
                      mat-button
                      type="button"
                      class="btn btn-success cartBtn"
                      (click)="cartService.addToCart(item.productId._id)"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                    <button
                      mat-button
                      type="button"
                      class="btn btn-danger cartBtn"
                      (click)="cartService.decreaseQuantity(item.productId._id)"
                    >
                      <mat-icon>remove</mat-icon>
                    </button>
                    <button
                      mat-button
                      type="button"
                      class="btn btn-warning cartBtn"
                      (click)="
                        cartService.removeProductFromCart(item.productId._id)
                      "
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-2">
                    <b>₹ {{ item.productId.price }} </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div
          *ngIf="
            cartService.cart?.totalItems != null &&
            cartService.cart?.totalItems! > 0
          "
        >
          <h2><b>Additional Notes</b></h2>
          <mat-form-field appearance="outline" style="width: 100%">
            <textarea
              rows="5"
              cols="100"
              matInput
              placeholder="Enter any additional information regarding your order"
            ></textarea>
          </mat-form-field>
        </div>
        <div
          *ngIf="
            cartService.cart?.totalItems == null ||
            cartService.cart?.totalItems! == 0
          "
        >
          <img src="https://assets.pharmeasy.in/web-assets/dist/bb14593e.svg" />
        </div>
        <ul>
          <li>
            A licensed pharmacy would be delivering your order basis
            availability of product & fastest delivery. Prices are indicative
            and may change after billing.
          </li>
          <li>
            PharmEasy is a technology platform to connect sellers and buyers and
            is not involved in sales of any product.
          </li>
          <li>
            Offer for sale on the products and services are provided/sold by the
            sellers only.
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2"></div>
    <!-- Right section -->
    <div class="col-lg-3">
      <div class="row">
        <!-- deliver to address block -->
        <div style="background-color: rgb(177, 231, 177)" class="d-grid gap-2">
          Deliver to:<br />{{ authService.getLoggedInUser()["address"] }}<br />
          <button mat-button color="warn" style="width: 40%; margin: auto auto">
            {{
              authService.getLoggedInUser()["address"] == ""
                ? "Set address"
                : "Change address"
            }}
          </button>
        </div>
      </div>
      <br />
      <br />
      <div class="d-grid gap-2">
        <button mat-stroked-button color="accent">
          <mat-icon>insights</mat-icon> Apply coupons
        </button>
        <button mat-raised-button color="accent">Continue</button>
      </div>
      <div class="row" style="margin-top: 4%">
        <!-- order summary -->
        <div class="col-lg-12">
          <div class="row">
            <h4><b>Order Summary</b></h4>
          </div>
          <div class="row order-summary">
            <div class="col-lg-5">Cart value</div>
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
              <b>₹ {{ cartService.cart?.total | number: "1.0" }}</b>
            </div>
          </div>
          <div class="row order-summary">
            <div class="col-lg-5">Delivery charges</div>
            <div class="col-lg-5"></div>
            <div class="col-lg-2" style="color: rgb(8, 130, 104)">
              <b>Free</b>
            </div>
          </div>
          <hr />
          <div class="row order-summary">
            <div class="col-lg-5">Amount to be paid</div>
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
              <b>₹ {{ cartService.cart?.total | number: "1.0" }}</b>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <app-feature-banner></app-feature-banner>
</div>
