<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="margin: 0px 5px 0px 5px">
    <a class="navbar-brand" href="#">
      <img src="{{ logoUrl }}" alt="" />
    </a>
    <div class="collapse navbar-collapse">
      Express delivery to<br />Select Pincode
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button mat-button color="secondary">
            <mat-icon>person_outlined</mat-icon> Hello, Log In
          </button>
        </li>
        <li class="nav-item">
          <button mat-button color="secondary">
            <mat-icon>percent</mat-icon> Offers
          </button>
        </li>
        <li class="nav-item">
          <button mat-button color="secondary">
            <mat-icon>shopping_cart_outlined</mat-icon> Cart
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
