<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="margin: 0px 50px 0px 50px">
    <a class="navbar-brand" href="#">
      <img src="{{ logoUrl }}" alt="" />
    </a>
    <mat-divider
      vertical
      style="height: 30px; margin-right: 20px"
    ></mat-divider>
    <div class="collapse navbar-collapse">
      <img
        src="https://assets.pharmeasy.in/apothecary/images/ic_express%20delivery.svg?dim=16x0"
      />
      Express delivery to:<button mat-button (click)="openPincodeCheckDialog()">
        <span style="font-weight: bold">Select Pincode</span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="!authService.isLoggedIn()" class="nav-item">
          <button mat-button color="secondary" (click)="openAuthDialog()">
            <mat-icon>person_outlined</mat-icon> Hello, Log In
          </button>
        </li>
        <li *ngIf="authService.isLoggedIn()" class="nav-item">
          <button mat-button color="secondary">
            <mat-icon>person_outlined</mat-icon> Welcome
            {{
              authService.getLoggedInUser()["name"] != ""
                ? authService.getLoggedInUser()["name"].split(" ")[0]
                : authService.getLoggedInUser()["phone"]
            }}!
          </button>
        </li>
        <li class="nav-item">
          <button mat-button color="secondary" [routerLink]="['/cart']">
            <mat-icon
              matBadge="{{ cartService.cart?.totalItems }}"
              matBadgeColor="warn"
              matBadgeHidden="{{ !authService.isLoggedIn() }}"
              >shopping_cart_outlined</mat-icon
            >
            Cart
          </button>
        </li>
        <li *ngIf="authService.isLoggedIn()" class="nav-item">
          <button mat-button color="secondary" (click)="authService.logout()">
            <mat-icon>logout</mat-icon> Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr style="margin-top: 0px" />
