<div>
  <div mat-dialog-title>Check pincode</div>
  <form #pincodeForm="ngForm" style="margin-top: 10px">
    <mat-form-field appearance="outline" style="width: 100%; font-size: 12px">
      <mat-label>6 digit pincode</mat-label>
      <input
        matInput
        required
        #pincode="ngModel"
        ngModel
        name="pincode"
        maxlength="6"
        minlength="6"
      />
      <mat-error *ngIf="pincode.touched && pincode.value.length < 6"
        >Invalid pincode</mat-error
      >
    </mat-form-field>
  </form>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="accent">Check</button>
  </div>
</div>
