<div class="card" style="margin: 50px 20px 50px 20px">
  <div class="row">
    <div
      class="col-lg-5"
      style="padding: 10px 10px 10px 10px; background-color: #d7faf8"
    >
      <div class="row">
        <div class="col-lg-2" style="margin-top: 15px; margin-left: 15px">
          <img
            src="https://assets.pharmeasy.in/apothecary/images/rx_upload.svg?dim=1440x0"
          />
        </div>
        <div class="col-lg-8">
          <div class="row">
            <span style="font-weight: bold; font-size: 16px"
              >Order with prescription</span
            >
          </div>
          <div class="row" style="margin-top: 10px">
            <span>Upload prescription and we will deliver your medicines</span>
          </div>
          <button mat-raised-button color="accent" style="margin-top: 10px">
            <mat-icon>attach_file</mat-icon> Upload
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-7" style="padding: 10px 10px 10px 10px">
      <div class="row">
        <span style="font-weight: bold; font-size: 16px"
          >How does this work?</span
        >
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-lg-6">1. Upload a photo of your prescription</div>
        <div class="col-lg-6">3. We will call you to confirm the medicines</div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-lg-6">2. Add delivery address and place the order</div>
        <div class="col-lg-6">
          4. Now, sit back! your medicines will get delivered at your doorstep
        </div>
      </div>
    </div>
  </div>
</div>
