<a
  routerLink="/product/{{ product._id }}"
  style="text-decoration: none; color: black"
>
  <div
    class="card"
    style="width: 20rem; height: 22rem; margin: 10px 0px 10px 0px"
  >
    <img
      src="{{ product.image }}"
      class="card-img-top"
      height="150px"
      width="150px"
      style="object-fit: contain; margin: 10px 0px 10px 0px"
    />
    <div class="card-body">
      <h5
        class="card-title"
        style="
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          line-height: 1.5rem;
        "
      >
        {{ product.name }}
      </h5>
      <div class="card-text">
        <span
          style="font-size: 14px; margin-top: 10px"
          [ngStyle]="{
            'text-decoration': product.discount > 0 ? 'line-through' : 'none'
          }"
        >
          ₹ {{ product.price }}
        </span>
        <div *ngIf="product.discount > 0">
          <img
            src="https://assets.pharmeasy.in/web-assets/_next/icons/pdp-discount.png"
            style="position: absolute; margin-top: 10px; left: 0; top: 0"
            width="30%"
            height="7%"
          />
          <span
            style="
              font-weight: bold;
              z-index: 100;
              position: absolute;
              color: white;
              font-size: 14px;
              font-weight: bold;
              left: 0;
              top: 10px;
              margin-top: 0.5%;
            "
            >{{ product.discount }}% OFF</span
          >
        </div>
      </div>
      <p
        *ngIf="product.discount > 0"
        class="card-text"
        style="font-size: 14px; font-weight: bold; margin-top: 10px"
      >
        <!-- {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}: -->
        ₹
        {{
          product.price - (product.price * product.discount) / 100
            | number: "1.2-2"
        }}
      </p>
    </div>
  </div>
</a>
