<form #profileForm="ngForm" style="margin-top: 10px">
  <mat-card
    class="mat-elevation-z5"
    style="width: 50%; margin-left: auto; margin-right: auto; padding: auto"
  >
    <mat-card-title style="font-weight: bold">EDIT PROFILE</mat-card-title>
    <mat-form-field appearance="outline" style="width: 100%; font-size: 12px">
      <mat-label>Name</mat-label>
      <input matInput required name="name" type="text" [(ngModel)]="name" />
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%; font-size: 12px">
      <mat-label>Email</mat-label>
      <input matInput required name="email" type="email" [(ngModel)]="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%; font-size: 12px">
      <mat-label>Phone</mat-label>
      <input matInput required name="phone" type="tel" [(ngModel)]="phone" />
    </mat-form-field>
    <button
      *ngIf="!loading"
      mat-raised-button
      color="accent"
      [disabled]="!profileForm.valid"
      (click)="updateUser()"
    >
      Save
    </button>
    <mat-spinner *ngIf="loading" [diameter]="30" color="accent"></mat-spinner>
  </mat-card>
</form>
