<div class="text-center">
  <div class="row">
    <div class="col-lg-6"><h5>What are you looking for?</h5></div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <mat-form-field
        style="margin-left: 30%; width: 100%; font-size: 12px"
        appearance="outline"
      >
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search for Medicine" />
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <button
        mat-raised-button
        color="accent"
        style="margin-top: 7px; margin-left: 20%"
      >
        Search
      </button>
    </div>
  </div>
</div>
