/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  color: rgb(48, 54, 60);
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: "Inter", sans-serif !important;
}

.mat-icon {
  font-family: "Material Icons" !important;
}

.dialog-backdrop {
  background-color: #bbbbbb40;
  backdrop-filter: blur(4px);
}
