<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <div class="card" style="width: 15rem; padding: 10px">
        <img src="{{ product.image }}" class="card-img-top" height="400rem" />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <h5>{{ product.name }}</h5>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <mat-icon *ngFor="let star of [].constructor(product.rating)"
            >star</mat-icon
          >
        </div>
      </div>
      <div class="row">
        <span style="font-weight: bold; font-size: 16px"
          >MRP:
          {{ product.price - (product.price * product.discount) / 100 }}</span
        >
      </div>
      <div *ngIf="product.discount > 0" class="row">
        <div class="col-lg-4">
          <img
            src="https://assets.pharmeasy.in/web-assets/_next/icons/pdp-discount.png"
            width="80px"
          />
          <span
            style="
              font-weight: bold;
              z-index: 100;
              position: absolute;
              color: white;
              font-size: 14px;
              font-weight: bold;
              left: 17.5%;
              top: 21%;
            "
            >{{ product.discount }}% OFF</span
          >
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row d-flex justify-content-center">
        <button mat-raised-button color="accent" style="width: 30%">
          <mat-icon>add_shopping_cart</mat-icon> Add to Cart
        </button>
      </div>
      <br />
      <div class="row d-flex justify-content-center">
        <button
          mat-raised-button
          color="accent"
          style="width: 30%"
          [disabled]="!authService.isLoggedIn()"
        >
          <mat-icon>chevron_right</mat-icon> View Cart
        </button>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <hr style="width: 75%; margin: auto auto" />
    <div style="margin-top: 20px">
      <h3>Product Details</h3>
      <br />
      <p style="text-align: justify">{{ product.description }}</p>
      <span style="font-weight: bold">Brand: </span>
      <span>{{ product.brand }}</span> <br />
    </div>
  </div>
  <hr style="margin-bottom: 0px; margin-left: auto; margin-right: auto" />
  <app-feature-banner></app-feature-banner>
  <hr style="margin-top: 0px; margin-left: auto; margin-right: auto" />
</div>
